@model Employee_Relation.Models.Emp

@{
    ViewData["Title"] = "Delete";
}

<p class="display-6 text-info">Delete</p>  

<h4 class="fw-light text-warning">Are you sure you want to delete this?   <a asp-action="ShowEmployee"><button class="btn btn-outline-primary ">Go Back</button></a></h4>  

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Eid)     
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Eid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ename)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ename)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Salary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Salary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Doj)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Doj)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hobbies)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hobbies)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Awards)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Awards)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeamName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeamName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeamLead)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeamLead)
        </dd>
    </dl>
    
    <form asp-action="Remove">
        @Html.HiddenFor(model => model.Eid)
        <input type="submit" value="Delete" class="btn btn-outline-danger" />   
    </form>
</div>
